In [89]:
import requests
import datetime
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import matplotlib.pyplot as plt

In [8]:
base_url_naver= "https://finance.naver.com/item/frgn.nhn?code=035420&page={}"

naver_url_list= []
for i in range(20):
    naver_url_list.append(base_url_naver.format(i+1))

In [10]:
naver_resp_list= []
for url in naver_url_list:
    naver_resp_list.append(requests.get(url))

In [13]:
naver_soup_list= []
for resp in naver_resp_list:
    naver_soup_list.append(BeautifulSoup(resp.text))

In [87]:
naver_table_list= []
for soup in naver_soup_list:
    for i in range(8):
        naver_table_list.append({
        'date': soup.select('table.type2')[1].select('span')[9*i].text.replace('.','-'),
        'stock': soup.select('table.type2')[1].select('span')[9*i + 1].text.replace(',','')
    })

In [68]:
type(naver_soup_list[0].select('table.type2')[1].select('span')[1].text)

str

In [48]:
len(naver_soup_list[0].select('table.type2')[1])

69

In [97]:
pd.DataFrame(naver_table_list)

           date   stock
0    2020-07-20  263000
1    2020-07-17  276000
2    2020-07-16  273000
3    2020-07-15  286500
4    2020-07-14  287000
..          ...     ...
155  2018-12-28  122000
156  2018-12-27  122500
157  2018-12-26  119000
158  2018-12-24  123000
159  2018-12-21  121500

[160 rows x 2 columns]